*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/jks
HEARTBEAT.md
.openclaw
memory
AGENTS.md
IDENTITY.md
SOUL.md
TOOLS.md
USER.md
# 本地敏感配置
constants.properties
